@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #e6e1e1d5;
}

/* ************************************************************* BARRA LATERAL ************************************************************* */
.barraLateral{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.barraLateral.ativa{
  width: 240px;
}

.barraLateral .contorno_logo .logo{
color: #fff;
display: flex;
height: 50px;
width: 100%;
align-items: center;
opacity: 0;
pointer-events: none;
transition: all 0.5s ease;
}

.barraLateral.ativa .contorno_logo .logo{
  opacity: 1;
  pointer-events: none;
}

.contorno_logo .logo i{
  font-size: 28px;
  margin-right: 10px;
}

.contorno_logo .logo .nome_logo{
  font-size: 18px;
  font-weight: 400;
}

.barraLateral #btn{
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  border-radius: 8px;
}

.barraLateral #btn:hover{
  background: #fff;
  color: #1d1b31;
}

.barraLateral.ativa #btn{
  left: 85%;
}

.barraLateral ul{
  margin-top: 20px;
}

.barraLateral ul li{
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  border-radius: 12px;
}

.barraLateral ul li .legenda{
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-40%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.barraLateral.ativa ul li .legenda{
  display: none;
}

.barraLateral ul li:hover .legenda{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.barraLateral ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.barraLateral ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.barraLateral ul li .bx-search:hover{
  background: #fff;
  color: #1d1b31;
}

.barraLateral ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 8px;
  white-space: nowrap;
}

.barraLateral ul li a:hover{
  color: #11101d;
  background: #fff;
}

.barraLateral ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px; 
  text-align: center;
}

.barraLateral .texto_botoes{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.barraLateral.ativa .texto_botoes{
  opacity: 1;
  pointer-events: auto;
}

.barraLateral .contorno_perfil{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.barraLateral .contorno_perfil .perfil{
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1d1b31;
  border-radius: 8px;
  transition: all 0.5s ease;
  background: none;
}

.barraLateral.ativa .contorno_perfil .perfil{
  background: #1d1b31;
}

.contorno_perfil .perfil .detalhes_perfil{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.barraLateral.ativa .perfil .detalhes_perfil{
  opacity: 1;
  pointer-events: auto;
}

.perfil .detalhes_perfil img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.perfil .detalhes_perfil .nome_trabalho{
  margin-left: 10px;
}

.perfil .detalhes_perfil .nome{
  font-size: 15px;
  font-weight: 400;
}
.perfil .detalhes_perfil .trabalho{
  font-size: 12px;
}

.perfil #log_out{
  position: absolute;
  left: 50%;
  bottom: 3px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.barraLateral.ativa .perfil #log_out{
  left: 92%;
  background: none;
}

.barraLateral.ativa ~ .tela_jogos{
  width: calc(100% - 240px);
  left: 240px;
}

.barraLateral.ativa ~ .tela_principal{
  width: calc(100% - 240px);
  left: 240px;
}

/* ************************************************************* FIM BARRA LATERAL ************************************************************* */

/* ************************************************************* TELA JOGOS ************************************************************* */
.tela_jogos{
  display: none;
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.tela_jogos .linha{
  display: flex;
  flex-flow: row wrap;
}

.tela_jogos .coluna{
  width: 50%;
}

.tela_jogos .cabeçalho{
  position: relative;
  height: min-content;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #11101d;
  padding: 5px;
  text-align: center;
}

.tela_jogos .cabeçalho .texto{
  font-size: 25px;
  color: #fff;
}

.tela_jogos img{
  position: relative;
  transition: all 0.5s ease;
  border-radius: 8px;
  white-space: nowrap;
  height: 200px;
  width: 200px;
}

.tela_jogos .img_velha{
  position: relative;
  top: 15%;
  left: 35%;
}

.tela_jogos .img_cobrinha{
  position: relative;
  top: 15%;
  left: 15%;
}

.tela_jogos .descricao_velha{
  position: relative;
  top: 15%;
  left: 25%;
  width: 360px;
  height: min-content;
  background-color: #fff;
  color: #11101d;
  padding: 7px;
  margin: 7px;
  font-weight: 500;
}

.tela_jogos .descricao_cobrinha{
  position: relative;
  top: 15%;
  left: 2%;
  width: 400px;
  height: min-content;
  background-color: #fff;
  color: #11101d;
  padding: 7px;
  margin: 7px;
  font-weight: 500;
}

.tela_jogos .botao_velha{
  position: relative;
  width: 70px;
  height: 150px;
  top: 15%;
  left: 35%;
}

.tela_jogos .botao_velha:hover .legenda{
  position: relative;
  opacity: 1;
  transition: all 0.5s ease;
  display: block;
  top: 30%;
  left: 100%;
}

.tela_jogos .botao_cobrinha{
  position: relative;
  width: 70px;
  height: 150px;
  top: 15%;
  left: 15%;
}

.tela_jogos .botao_cobrinha:hover .legenda{
  position: relative;
  opacity: 1;
  transition: all 0.5s ease;
  display: block;
  top: 30%;
  left: 100%;
}

.tela_jogos i{
  height: min-content;
  width: min-content;
  border-radius: 12px;
  line-height: 50px; 
  text-align: right;
  padding: 5px;
}

.tela_jogos a{
  position: relative;
  color: #11101d;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 8px;
  white-space: nowrap;
  height: min-content;
  font-weight: 500;
  width: min-content;
  padding: 3px;
}

.tela_jogos a:hover{
  color: #fff;
  background: #11101d;
}

.tela_jogos a img{
  position: relative;
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
  left: 0%;
  margin-right: 5px;
}

.tela_jogos .velha{
  position: relative;
}

.tela_jogos .cobrinha{
  position: relative;
}

.tela_jogos .legenda{
  position: relative;
  transform: translate(-40%, -50%);
  border-radius: 6px;
  height: min-content;
  width: 400px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  left: 35%;
}

/* ************************************************** FIM PÁGINA DE JOGOS ******************************************* */
.tela_principal{
  display: block;
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.tela_principal .linha{
  display: flex;
  flex-flow: row wrap;
}

.tela_principal .coluna{
  width: 50%;
}

.tela_principal .cabeçalho{
  position: relative;
  height: min-content;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #11101d;
  padding: 5px;
  text-align: center;
}

.tela_principal .cabeçalho .texto{
  font-size: 25px;
  color: #fff;
}

.tela_principal .title_velha{
  position: relative;
  height: min-content;
  width: 250px;
  transition: all 0.5s ease;
  background-color: #11101d;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  top: 5%;
  left: 32%;
}

.tela_principal .title_cobrinha{
  position: relative;
  height: min-content;
  width: 250px;
  transition: all 0.5s ease;
  background-color: #11101d;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  top: 5%;
  left: 22%;
}

.tela_principal img{
  position: relative;
  transition: all 0.5s ease;
  border-radius: 8px;
  white-space: nowrap;
  height: 200px;
  width: 200px;
}

.tela_principal .img_velha{
  position: relative;
  top: 8%;
  left: 35%;
}

.tela_principal .img_cobrinha{
  position: relative;
  top: 8%;
  left: 25%;
}

.tela_principal .historia_velha{
  position: relative;
  top: 10%;
  left: 25%;
  width: 360px;
  height: min-content;
  background-color: #fff;
  color: #11101d;
  padding: 7px;
  margin: 7px;
  font-weight: 500;
}

.tela_principal .historia_cobrinha{
  position: relative;
  top: 10%;
  left: 16%;
  width: 360px;
  height: min-content;
  background-color: #fff;
  color: #11101d;
  padding: 7px;
  margin: 7px;
  font-weight: 500;
}